.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-top: 0.4rem;
    border-bottom: 1px solid #b8b8b8;
}

.logo {
    font-weight: bold;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}